body {
  text-align: center;
  background: linear-gradient(to bottom, #70c5ce, #ffffff);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 10px;
}

canvas {
  background: #70c5ce;
  display: block;
  margin: 10px auto;
  border: 3px solid black;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 10px;
}
